
.DS_Store
Week01_Birthquake_intro/.ipynb_checkpoints/W1_assignment_birthquake_map-checkpoint.ipynb
Week01_Birthquake_intro/.ipynb_checkpoints/W1_inclass_birthquake-checkpoint.ipynb
Week01_Birthquake_intro/.ipynb_checkpoints/W1_inclass_finding_birthquakes-checkpoint.ipynb
Week01_Birthquake_intro/.ipynb_checkpoints/W1_assignment_birthquake_maps-checkpoint.ipynb
